.form{
    text-align: center;     
    width: 330px;
    height: 260px;
    background-color: rgb(122, 68, 68);
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    
}
.login{
   
   
}
.logo{
    font-family: fantasy;
    color:black;
}